/*Lav en attribute selector i CSS der rammer det tema der er valgt i data data-theme i body elementet.*/

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

body[data-theme="dark"] {
  background-color: #001524;
  color: #FFECD1;
  border: 1px solid #15616D;

    article {
        display: flex;
        color: #FFECD1;
        border: 1px solid #15616D;
    }
    
}

body[data-theme="light"] {
    background-color: #FFECD1;
    color: #15616D;
    border: 1px solid #001524;
    
      article {
          display: flex;
          color: #15616D;
          border: 1px solid #001524;
      }
      
}
body[data-theme="hp"] {
  background-color: #fff;
  color: #111;
}
