@font-face {
  font-family: "Bagerich";
  src: url("Bagerich.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*Lav en attribute selector i CSS der rammer det tema der er valgt i data data-theme i body elementet.*/

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}
main {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}
footer {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}
h1 {
  font-family: "Bagerich";
  font-size: 5rem;
}
h2 {
  font-family: "Bagerich";
  font-size: 2.5rem;
}
p {
  font-family: monospace;
  font-size: 1rem;
  line-height: 150%;
}

article,
footer {
  padding: 5rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
/*----------Themes----------*/
body[data-theme="dark"] {
  --header-bg-col: #001524;
  --header-text-color: #ffecd1;
  --main-bg-col: #001524;
  --main-text-col: #15616d;
  --footer-bg-col: #001524;
  --footer-text-col: #ffecd1;
}

body[data-theme="light"] {
    --header-bg-col: #ffecd1;
  --header-text-color: #15616d;
  --main-bg-col: #ffecd1;
  --main-text-col: #15616d;
  --footer-bg-col: #15616d;
  --footer-text-col: #ffecd1;
}

body[data-theme="hp"] {
    --header-bg-col: #32355e;
  --header-text-color: #8eaf98;
  --main-bg-col: #6d2715;
  --main-text-col: #32355e;
  --footer-bg-col: #e0b72d;
  --footer-text-col: #15616d;
}
/*-------------------------*/
header {
  background-color: var(--header-bg-col);
  color: var(--header-text-color);
  border: var(--main-text-col);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: var(--footer-bg-col);
  color: var(--footer-text-col);
  border: var(--footer-text-col);
}
main {
  background-color: var(--header-bg-col);
  color: var(--header-text-color);
  border: var(--main-text-col);
}
article {
  background-color: var(--main-bg-col);
  color: var(--header-text-col);
  border:2px solid var(--main-text-col);
}

footer > .center {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select {
  margin: 1rem;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.5s;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #ff7d00;
  outline: none;
}

h1,
div,
footer {
  --delay: calc(1s + var(--i));
  transition: 0.6s var(--delay, 0s);
  @starting-style {
    translate: 0 -25%;
    opacity: 0;
  }
}
